<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <h1>Thoughts</h1>
    </header>
    <main class="signup-main">
        <div class="signup-container">
            <h2>Sign Up</h2>
            <% if (errors.length > 0) { %>
                <p style="color: rgb(214, 16, 16);"><%= errors[0].msg %></p>
            <% } %>
            <form action="" method="POST">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required value="<%= user.firstName %>">

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required value="<%= user.lastName %>">

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required value="<%= user.username %>">
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                
                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </main>
</body>
</html>
